.vs/
DotNet.Core/bin/
DotNet.Core/obj/
DotNet.Entity/bin/
DotNet.Entity/obj/
DotNet.MyProject.Api/bin/
DotNet.MyProject.Api/obj/
DotNet.MyProject.Entity/bin/
DotNet.MyProject.Entity/obj/
DotNet.MyProject.Repository/bin/
DotNet.MyProject.Repository/obj/
DotNet.MyProject.Service/bin/
DotNet.MyProject.Service/obj/
DotNet.Repository/bin/
DotNet.Repository/obj/
DotNet.Service/bin/
DotNet.Service/obj/
packages/
